{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%  static  'styles/book.css'  %}"> 
</head>
<body>
  

<section>

    <div class="create_container">
        <form action="{%   url 'add-book' %}" method="POST">
            {% csrf_token %}    
            <input
                class="create_input"
                type="text"
                placeholder="Напишите здесь название книги"
                name="title_text" > 
            <input
                class="create_input"
                type="text"
                placeholder=" Субтитр книги"
                name="sustitle_text" > 
            <input
                class="create_input"
                type="text"
                placeholder=" Описание книги"
                name="description_text" > 
            <input
                class="create_input"
                type="text"
                placeholder=" Цена книги"
                name="price_text" >    
            <input
                class="create_input"
                type="text"
                placeholder=" Жанр книги"
                name="genre_text" >       
            <input
                class="create_input"
                type="text"
                placeholder="Автор книги"
                name="author_text" > 
            <input
                class="create_input"
                type="text"
                placeholder="Год выхода книги"
                name="year_text" >   
            <button class="create_button">Добавить</button>
        </form>
    </div>

</section>



   
<div class="todo_container"> 
     {%  for book in books_list  %}
    <div class="todo_item   
        {%  if book.is_favorite  %}
        marked
        {% endif  %}
    
    
    ">
        <div class="todo_item_header">
          <table>
                <tr>
                  <td><h4>{{ book.title}}</h4> </td>
                  <td>{{ book.subtitle}}</td>
                  <td>{{ book.description}}</td>
                  <td>{{  book.price  }} сом</td>
                  <td>{{  book.genre  }}</td>
                  <td>{{  book.author  }}</td>
                  <td>{{  book.year  }}</td>
                </tr>
              </table>
          
            
        </div>
        <div class="todo_item_footer">
            <p>{{  book.date  }}</p>
            <div class="action_buttons">

                {% if book.is_favorite %}
                    <a href="{%  url 'unmark-book' book.id  %}"><img src="{%   static  './icons/star1.png'    %}"></a>
                {% else %}
                    <a href="{%  url 'mark-book' book.id  %}"><img src="{%   static  './icons/star.png'    %}"></a>
                {% endif  %} 


                    <a href="{%  url 'delete-book' book.id  %}"><img src="{%   static  './icons/recycle-bin.png'    %}"></a>
            </div>
        </div>
    </div> 
     {%  endfor %}
</div>
 
    <!-- <section> 

    {%  for book in books_list  %}
      
            <p>{{ book.title}}</p> 
            <p>{{ book.subtitle}}</p>
            <p>{{ book.description}}</p> 
            <p>{{  book.price  }} </p>
            <p>{{  book.genre  }}</p>
            <p>{{  book.author  }}</p>
            <p>{{  book.year  }}</p>
            <p>{{  book.date  }}</p>
       
    {%  endfor %}
    </section>  
   -->
</body>
</html>